<div class="formCad">
<form action="/cadastro" method="POST">
    <h1>cadastro</h1>
        <p>Usuario: </p>
        <input type="text" name="email_cad">
        <p>Senha: </p>
        <input type="text" name="senha_cad">
        <button type="submit">cadastrar</button>
</form>
</div>