# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
#node modules dependences should be ignored
/node_modules/
#package .json files should be ignored
/package.json/
/package-lock.json/